################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/eventanalyser/.vs
/eventanalyser/bin/Debug/net7.0
/eventanalyser/obj
/eventanalyser/eventanalyser.tests/bin
/eventanalyser/eventanalyser.tests/obj
/eventanalyser.tests/bin/Debug/net8.0
/eventanalyser.tests/obj
/startpoint/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/startpoint/obj/Debug/net8.0/startpoint.AssemblyInfo.cs
/startpoint/obj/Debug/net8.0/startpoint.AssemblyInfoInputs.cache
/startpoint/obj/Debug/net8.0/startpoint.assets.cache
/startpoint/obj/Debug/net8.0/startpoint.csproj.AssemblyReference.cache
/startpoint/obj/Debug/net8.0/startpoint.GeneratedMSBuildEditorConfig.editorconfig
/startpoint/obj/Debug/net8.0/startpoint.GlobalUsings.g.cs
/startpoint/obj/project.assets.json
/startpoint/obj/project.nuget.cache
/startpoint/obj/startpoint.csproj.nuget.dgspec.json
/startpoint/obj/startpoint.csproj.nuget.g.props
/startpoint/obj/startpoint.csproj.nuget.g.targets
/startpoint/bin/Debug/net8.0/appsettings.json
/startpoint/bin/Debug/net8.0/CommandLine.dll
/startpoint/bin/Debug/net8.0/EventStore.Client.dll
/startpoint/bin/Debug/net8.0/EventStore.Client.PersistentSubscriptions.dll
/startpoint/bin/Debug/net8.0/EventStore.Client.Streams.dll
/startpoint/bin/Debug/net8.0/Google.Protobuf.dll
/startpoint/bin/Debug/net8.0/Grpc.Core.Api.dll
/startpoint/bin/Debug/net8.0/Grpc.Net.Client.dll
/startpoint/bin/Debug/net8.0/Grpc.Net.Common.dll
/startpoint/bin/Debug/net8.0/JetBrains.Annotations.dll
/startpoint/bin/Debug/net8.0/Microsoft.Bcl.AsyncInterfaces.dll
/startpoint/bin/Debug/net8.0/Microsoft.Extensions.Configuration.Abstractions.dll
/startpoint/bin/Debug/net8.0/Microsoft.Extensions.Configuration.Binder.dll
/startpoint/bin/Debug/net8.0/Microsoft.Extensions.Configuration.dll
/startpoint/bin/Debug/net8.0/Microsoft.Extensions.Configuration.FileExtensions.dll
/startpoint/bin/Debug/net8.0/Microsoft.Extensions.Configuration.Json.dll
/startpoint/bin/Debug/net8.0/Microsoft.Extensions.DependencyInjection.Abstractions.dll
/startpoint/bin/Debug/net8.0/Microsoft.Extensions.DependencyInjection.dll
/startpoint/bin/Debug/net8.0/Microsoft.Extensions.FileProviders.Abstractions.dll
/startpoint/bin/Debug/net8.0/Microsoft.Extensions.FileProviders.Physical.dll
/startpoint/bin/Debug/net8.0/Microsoft.Extensions.FileSystemGlobbing.dll
/startpoint/bin/Debug/net8.0/Microsoft.Extensions.Logging.Abstractions.dll
/startpoint/bin/Debug/net8.0/Microsoft.Extensions.Logging.dll
/startpoint/bin/Debug/net8.0/Microsoft.Extensions.Options.dll
/startpoint/bin/Debug/net8.0/Microsoft.Extensions.Primitives.dll
/startpoint/bin/Debug/net8.0/Newtonsoft.Json.dll
/startpoint/bin/Debug/net8.0/startpoint.deps.json
/startpoint/bin/Debug/net8.0/startpoint.dll
/startpoint/bin/Debug/net8.0/startpoint.exe
/startpoint/bin/Debug/net8.0/startpoint.pdb
/startpoint/bin/Debug/net8.0/startpoint.runtimeconfig.json
/startpoint/bin/Debug/net8.0/System.Linq.Async.dll
/startpoint/obj/Debug/net8.0
/startpoint/obj/Debug/net8.0/apphost.exe
/startpoint/obj/Debug/net8.0/ref
/startpoint/obj/Debug/net8.0/ref/startpoint.dll
/startpoint/obj/Debug/net8.0/refint
/startpoint/obj/Debug/net8.0/refint/startpoint.dll
/startpoint/obj/Debug/net8.0/startpoint.csproj.CoreCompileInputs.cache
/startpoint/obj/Debug/net8.0/startpoint.csproj.FileListAbsolute.txt
/startpoint/obj/Debug/net8.0/startpoint.csproj.Up2Date
/startpoint/obj/Debug/net8.0/startpoint.dll
/startpoint/obj/Debug/net8.0/startpoint.genruntimeconfig.cache
/startpoint/obj/Debug/net8.0/startpoint.pdb
/startpoint/obj/Debug/net8.0/startpoint.sourcelink.json
