################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/eventanalyser/.vs
/eventanalyser/bin/Debug/net7.0
/eventanalyser/obj
/eventanalyser/eventanalyser.tests/bin
/eventanalyser/eventanalyser.tests/obj
